anyio==3.7.1
asgiref==3.7.2
astra-admin-events==1.0.1
astra-event-diagnostics==0.3.13
astra-event-viewer==1.0.1
Babel==2.14.0
beautifulsoup4==4.7.1
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
configparser==5.3.0
DAWG-Python==0.7.2
distro==1.7.0
Django==3.2.25
dnspython==1.16.0
docopt==0.6.2
docxcompose==1.4.0
docxtpl==0.16.8
exceptiongroup==1.2.2
Flask==2.2.5
Flask-WTF==1.1.1
greenlet==3.1.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
icalendar==4.0.3
idna==3.8
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.4
logging==0.4.9.6
lxml==4.3.2
Markdown==3.0.1
MarkupSafe==2.1.5
mutagen==1.40.0
numpy==1.21.6
pexpect==4.6.0
Pillow==9.5.0
psutil==5.5.1
pydbus==0.6.0
pygame==2.6.0
Pygments==2.3.1
PyGObject==3.30.4
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyMySQL==1.1.1
PyQt5==5.15.2
pyqtgraph==0.12.4
python-dateutil==2.7.3
python-docx==1.1.0
python-pptx==0.6.23
python-telegram-bot==20.3
pytz==2024.2
pyxdg==0.25
PyYAML==5.1.2
rarfile==3.0
recollchm==0.8.4.1+git
reportlab==3.5.13
requests==2.31.0
screen-resolution-extra==0.0.0
shutils==0.1.0
sip==4.19.24
six==1.12.0
sniffio==1.3.1
sos==4.0
soupsieve==1.8
SQLAlchemy==2.0.34
SQLAlchemy-serializer==1.4.12
sqlparse==0.4.4
syslog-ng-mod-astra==0.3.13
typing_extensions==4.7.1
ufw==0.36
urllib3==2.0.7
vboxapi==1.0
vk-api==11.9.9
Wave==0.0.2
Werkzeug==2.2.3
WTForms==3.0.1
xkit==0.0.0
XlsxWriter==3.2.0
zip-files==0.4.1
zipp==3.15.0
