{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <title>Авторизация</title>
</head>
<body>
    {% include 'home/header.html' %}
    <div class="login-form">
        {% if user.is_authenticated %}
            <p>Добро пожаловать, {{ user.username }}!</p>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Выйтяшка</button>
            </form>
        {% else %}
            <form action="/login/" method="POST">
                {% csrf_token %}
                <input name="username" placeholder="Введите няшную почточку" required>
                <input name="password" placeholder="Введите няшный парольчик" required>
                <button type="submit">Войтишка</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
