{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            anime({
                targets: '.animated',
                opacity: [0,1],
                transleteY: [-20, 0],
                delay: anime.stagger(100)
            })
        })
    </script>

    <title>Document</title>
</head>
<body>
    {% include 'home/header.html' %}
    <div class="wrapper">
        <img src="{{product.image.url}}" alt="{{product.title}}">
        <div class="product-info">
            <h2>{{product.title}}</h2>
            <p>{{product.description}}</p>
            <span>{{product.price}}</span>
        </div>
    </div>
</body>
</html>